/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.img-thumbnail {
  max-width: 50%;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.panel h3 {
  margin-top: 0px;
}

.content-group {
  padding-left: 20px;
  padding-right: 20px;
  margin: 40px 0;
}

.banner img {
  height: 20em;
  max-width: 90vw;
}

#portfolio .img {
  height: 250px;
  width: 250px;
}

.seperate {
  padding: 2px;
}

#footer p {
  margin-top: 7px;
}

@media print, screen{
  #jumbotron {
      background-image: url(/img/jumbotron.png);
      background-repeat: repeat;
      background-position: center center;
      color: #fefefe;
  }
}

#jumbotron .row {
  background: rgba(0, 0, 0, .85);
  height: 25em;
  padding-top: 6.25em;
}

#jumbotron h1 {
  color: inherit;
}

.background-turquiose{
  background-color: #4fbfa8;
  color: #fefefe;
}

#description p {
  font-size: 24px;
}

.padding-top-bottom-default {
  padding-top: 4.6875em;
  padding-bottom: 4.6875em;
}

.navbar-brand h2{
  margin-top: 10px;
}

.navbar-brand img{
  height: 50px;
}

#error-page .img-responsive {
  margin-left: 67px;
}

@media print, screen and (min-width: 40em){
  #jumbotron h1, .h1 {
      font-size: 6rem;
    }
  #jumbotron p, .p {
      font-size: 3rem;
  }
}

